{{ template "header" .}}

{{ define "content" }}
    <div>bar</div>
{{ end }}

<section class="container mx-auto p-4">
    <div class="flex mb-4">
        <div class="flex-1 bg-grey h-12"></div>
    </div>
        
    <!-- Five columns -->
    <div class="flex mb-4">
        <div class="flex-1 bg-grey-light h-12"></div>
        <div class="flex-1 bg-grey h-12"></div>
        <div class="flex-1 bg-grey-light h-12"></div>
        <div class="flex-1 bg-grey h-12"></div>
        <div class="flex-1 bg-grey-light h-12"></div>
    </div>
        
    <!-- Seven columns -->
    <div class="flex mb-4">
        <div class="flex-1 bg-grey-light h-12"></div>
        <div class="flex-1 bg-grey h-12"></div>
        <div class="flex-1 bg-grey-light h-12"></div>
        <div class="flex-1 bg-grey h-12"></div>
        <div class="flex-1 bg-grey-light h-12"></div>
        <div class="flex-1 bg-grey h-12"></div>
        <div class="flex-1 bg-grey-light h-12"></div>
    </div>
        
    <!-- Eleven columns -->
    <div class="flex mb-4">
        <div class="flex-1 bg-grey-light h-12"></div>
        <div class="flex-1 bg-grey h-12"></div>
        <div class="flex-1 bg-grey-light h-12"></div>
        <div class="flex-1 bg-grey h-12"></div>
        <div class="flex-1 bg-grey-light h-12"></div>
        <div class="flex-1 bg-grey h-12"></div>
        <div class="flex-1 bg-grey-light h-12"></div>
        <div class="flex-1 bg-grey h-12"></div>
        <div class="flex-1 bg-grey-light h-12"></div>
        <div class="flex-1 bg-grey h-12"></div>
        <div class="flex-1 bg-grey-light h-12"></div>
    </div>
</section>

{{ template "footer" .}}
