<html>
    {{ template "header.gohtml" . }}
    <body>
        {{ template "nav.gohtml" . }}

        <form action="/ping" method="POST">
            {{ csrfField .token }}
            <input type="text" name="url" placeholder="ping url" />
            <button type="submit">Ping</button>
        </form>

        {{ template "scripts.gohtml" . }}
    </body>
</html>